@use '../1-settings/' as *;
@use '../2-tools/' as *;

.nav{
    z-index: 2;
    &__item{
        font-size: 3.2rem;
        @include medium{
            display: inline-block;
            width: 23px;
        }
    }
    &__link{
        color: $color-white;
        padding: $grid-base;
        border-radius: .4rem;
        display: block;
        text-align: center;
        transition: .5s;
        &:hover{
            background-color: $color-red;
        }
    }
}